<div class="review-card">
  <div class="rev-title bg-rev">
    <u style="  font-family: Verdana, Geneva, Tahoma, sans-serif;">
      <%= comment.title %> <br>
    </u>
    By <a href="/users/<%= comment.user.id %>" class="rev-user">
      <%= comment.user.first_name %>
    </a>

  </div>
  <div class="rev-content bg-rev">
    <%= comment.content %>
  </div>
</div>
