.location-img-box {
  width: fit-content;
}

.loc-show-img {
  width: 350px;
  border-radius: 2em;
  border: 2px solid black;
}

.location-content {
  border: 2px solid black;
  font-size: 1.35em;
  width: 25%;
  border-radius: 8px;
  padding: 1em;
  height: fit-content;
  max-height: 286px;
  overflow-y: scroll;
}

.loc-cont-title {
  color: teal;
  text-decoration: underline;
}

.fp-title {
  padding: 0.5em;
  color: teal;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: fit-content;
}

.loc-rev-header {
  color: teal;
  padding: 0.5em;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  width: fit-content;
  margin: 10px auto;
}

.location-review-box {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
