#all-recipes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.rec-head-box {
  height: fit-content;
  width: fit-content;
  background-color: white;
  border-radius: 4px;
  padding: 2px;
  margin: 10px auto;
}

.recipes-header {
  color: teal;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 3px;
  margin: 10px 10px;
  width: fit-content;
}

.pagination {
  text-align: center;
  padding: 1em;
}

// .pagination> {}
