.sign-in-box {
  width: 50%;
  background-color: rgb(206, 245, 245);
  padding: 1em;
  text-align: center;
  display: flex;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 1em;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login-header {
  border-left: solid black 2px;
  border-right: solid black 2px;
  padding: 4px;
  color: teal;
  width: fit-content;
}

.form-check {
  border: none;
}

.login-button {
  padding: 0.3em;
  width: 5em;
  border-radius: 5em;
  font-size: 1.1em;
  color: aliceblue;
  background-color: rgb(91, 171, 224);
  transition: ease-in-out 0.2s;
}
.login-button:hover {
  background-color: rgb(30, 94, 136);
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

.user_email {
  text-align:center;
  // width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#login-email {
  margin: 0 auto;
  border-radius: 1em;
  padding: 0.5em;
}

.user_password {
  text-align:center;
  // width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#user_password {
  margin: 0 auto;
  border-radius: 1em;
  padding: 0.5em;
}

.form-check {
  background-color: blanchedalmond;
  padding: 1em;
  border-radius: 1em;
}

.linker-box {
  padding: 1em;
  background-color: bisque;
  border-radius: 1em;
}


// devise links
.linker-box > a {
  text-decoration: none;
  color: rgb(72, 145, 156);
  transition: ease-in-out 0.2s;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  margin: 10px auto;
}

.linker-box > a:hover {
  text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  color: navy;
}
