<h1 class="recipes-header-show" style="margin:10px auto; padding:5px; background-color:white;">Edit: <%= @recipe.title %></h1>

<div class="page-container">
  <%= render partial: 'edit_recipe' %>
</div>
