<div class="rec-head-box">
  <h1 class="recipes-header">Recipes.</h1>
</div>

<%= render partial: 'shared/search_form' %>

<div class="page-container">
  <div id="all-recipes">
    <% @recipes.each do |recipe| %>
      <%= render partial: 'shared/recipe_card', locals: {recipe: recipe} %>
    <% end %>
  </div>

  <%# <%= will_paginate @posts %> %>
</div>
<br>
