<h1>Recipes.</h1>

<div class="page-container">
  <% @recipes.each do |recipe| %>
    <a href="/recipe/<%= recipe.id %>">
      <%= render partial: 'shared/recipe_card', locals: {recipe: recipe} %>
    </a>
  <% end %>
</div>
