<div class="page-container" style="display:flex; flex-direction:column; justify-content:center; text-align:center;">
  <h1 class="recipes-header-show" style="margin:0 auto;">Add a New Recipe.</h1>
  <br>
  <%= render partial: 'new_recipe' %>
</div>
