<div class="chatroom-card">
  <h3 class="chatroom-card-header">
    <%= chatroom.name %>
  </h3>
  <div class="chat-join"><%= link_to 'Join', chatroom_path(chatroom), class: 'join-btn' %></div>
</div>
