<h1><%= current_user ? "Hi #{@user.first_name}!" : "Welcome to #{@user.first_name}'s profile" %></h1>
<%# <%= cl_image_tag current_user.photo.key, width: 100 %> %>
<%= link_to 'New Recipe', new_recipe_path %>
