<div class="query-box" style="margin: 0 auto; width:fit-content;">
  <form action="/recipes" class="search-form">
    <input type="text" class="search-box" name="query">
    <input type="submit" value="search" class="search-button">
  </form>
</div>
