<div class="page-container">
  <%# Slideshow %>
  <div class="slider">
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
  </div>

<div id="home-about">
  <h3>Welcome To the Savage Kitchen!</h3>
</div>

</div>
