<div class="page-container">
  <%# Slideshow %>
  <div class="slider">
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
  </div>

  <div id="home-about">
    <h3>Welcome To the Savage Kitchen</h3>
  </div>
  <div class="banner-box">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.dorchestercollection.com/wp-content/uploads/Paris-le-meurice-cedric-grolet1.jpg);">
      <div style="padding:4px;">
        <h1>Find your next showpiece...</h1> <br>
        <a class="btn-dis" href="/recipes">Discover</a>
      </div>
    </div>
    <%# Recipe OTD %>
    <div id="rotd">
      <div class="recipe-card">
        <div class="img-holder">
          <% if @rand_recipe.photo.key %>
            <%= cl_image_tag recipe.photo.key crop: fill, width: 40 %>
          <% else %>
            <img src="image.png" alt="Default recipe photo" width="40">
          <% end %>
        </div>
      </div>
    </div>

  </div>


</div>
