.btn-dis {
  padding: 5px;
  border-radius: 8px;
  color: white;
  font-size: 1.5em;
  background-color:#1b6bc7;
  transition: ease-in-out 0.2s;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;
}

.btn-dis:hover {
  box-shadow: 0 2 3 rgba(0,0,0,0.2);
  color: rgb(178, 239, 239);
  background-color: black;
}
