.dropdown {
  position: relative;
}

.drop-cont {
  text-decoration: none;
  color: black;
  transition: ease-in-out 0.2s;
  background-color: bisque;
  border-radius: 1em;
}
.drop-cont:hover {
  text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  background-color: rgb(194, 160, 118);
  color: white;
}

.dropdown-content {
  text-decoration: none;
  position: absolute;
  top: 100%;
  left: 5em;
  text-align: center;
  height: 3em;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  width: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba($color: #d6fafe, $alpha: 1.0);  padding: 10px;
  border-radius: 5px;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
