#recipe-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  width: 75%;
  border-radius: 8px;
  background-color: bisque;
  padding: 1em;
}

.img-holder {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
