#forgot-pass-header {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 0.3em;
  color: teal;
  margin: 0 auto;
  width: fit-content;
}

.form-forgot-box {
  padding: 1em;
  font-family: 'IBM Plex Sans', sans-serif;

  border-radius: 6px;
  background-color: rgb(3, 176, 176);
  color: white;
  width: fit-content;
  margin: 10px auto;
}

#forgot-email {
  width: 15em;
  border-radius: 1em;
  padding: 6px;
}

.form-forgot-box > a {
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;

  background-color: blanchedalmond;
  // color: white;
  padding: 5px;
  transition: ease-in-out 0.2s;
  border-radius: 1em;
}

.form-forgot-box > a:hover {
  color: white;
  background-color: #956b35;
}

#forgot-submit {
  padding: 0.5em;
  // color: white;
  transition: ease-in-out 0.2s;
  border-radius: 6px;
  border: none;
  background-color: whitesmoke;
}
 #forgot-submit:hover {
  background-color: silver;
 }
