.rev-form-box {
  font-family: 'IBM Plex Sans', sans-serif;
  width: 25%;
  background-color: blanchedalmond;
  border-radius: 1em;
  padding: 1em;
  height: 100%;
}

.rev-input-box {
  width: 90%;
  border-radius: 4px;
}

.rev-input-text {
  height: 100px;
  width: 90%;
  border-radius: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
