@import "components/index";
@import "pages/index";
@import "extras/index";
@import "colours/index";
@import "forms/index";

html {
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

.page-container {
  border-radius: 8px;
  padding: 1em;
  background-color: white;
  width: auto;
  margin: 0.5em auto;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.uni-link {
  text-decoration: none;
  color: black;
  .uni-link:hover {
    text-shadow: 0px 3px 3px rgba(0,0,0,0.2);
  }
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.page-container {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
  padding: 30px;
}

/* Added for aesthetics */ body {margin: 0;font-family: "Segoe UI", Arial, Helvetica, Sans Serif;} a {text-decoration: none; display: inline-block; margin-right: 10px; color:#fff;}
