@import "components/index";
@import "pages/index";
@import "extras/index";
@import "colours/index";
@import "forms/index";

html {
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

.page-container {
  border-radius: 8px;
  padding: 1em;
  background-color: white;
  width: auto;
  margin: 0.5em auto;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.uni-link {
  text-decoration: none;
  color: black;
  .uni-link:hover {
    text-shadow: 0px 3px 3px rgba(0,0,0,0.2);
  }
}


// html {
//   scroll-behavior: smooth;
// }
