<% review_user_name = "#{review.user.first_name} #{review.user.last_name}" %>

<div class="review-card">
  <div class="review-info">
    <a href="/user/<%= review.user.id %>" class="uni-link"></a><%= review_user_name %> <br>
    <%= review.title %>
  </div>

  <div class="review-content">
    <%= review.content %>
  </div>
</div>
