<div class="review-card">
  <div class="rev-title bg-rev">
    <u style="  font-family: Verdana, Geneva, Tahoma, sans-serif;">
      <%= review.title %> <br>
    </u>
    By <a href="/users/<%= review.user.id %>" class="rev-user">
      <%= review.user.first_name %>
    </a>
  </div>
  <div class="rev-content bg-rev">
    <%= review.content %>
  </div>
</div>
